  
  
<p class=mb-5><strong><%= link_to '👉 All Villagers', villagers_path %></strong></p>


<div class="columns">

  <div class="column">
    <h2 class="title is-2">Animal</h2>
      <ul class="ml-5">
          <% @animals.each do |animal|%>

          <li>
              <%= link_to animal.animal, animal %>
          </li>


          <% end %>
        </ul>
          <strong><%= link_to '👉 All Animals', animals_path %></strong>
  </div>

  <div class="column">
    <h2 class="title is-2">Gender</h2>
      <ul class="ml-5">
        <% @genders.each do |gender|%>

        <li>
            <%= link_to gender.gender, gender %>
        </li>

        <% end %>
      </ul>
        <strong><%= link_to '👉 All Genders', genders_path %></strong>
  </div>


    <div class="column">
    <h2 class="title is-2">Hobby</h2>
      <ul class="ml-5">
          <% @hobbies.each do |hobby|%>

          <li>
              <%= link_to hobby.hobby, hobby %>
          </li>


          <% end %>
        </ul>
          <strong><%= link_to '👉 All Hobbies', hobbies_path %></strong>
  </div>

    <div class="column">
    <h2 class="title is-2">Personality</h2>
      <ul class="ml-5">
          <% @personalities.each do |personality|%>

          <li>
              <%= link_to personality.personality, personality %>
          </li>


          <% end %>
        </ul>
          <strong><%= link_to '👉 All Personality', personalities_path %></strong>
  </div>

</div>




