<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= yield(:html_title) + " - " if content_for?(:html_title) %> Animal Crossing Villagers</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href=<%=root_path%>>
        <img src="https://www.nintendo.com.au/modules/prodcatalogue/templates/custom/animal_crossing_new_horizons/img/nswitch_animalcrossingnewhorizons_overview_howtobuy_btn_nook_mobile.png" width="112" height="28">
      </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href=<%=root_path%>>
        Home
      </a>

      <a class="navbar-item" href=<%=villagers_path%>>
        All Villagers
      </a>

      <a class="navbar-item" href=<%=root_path%>>
        About
      </a>

      
      <a class="navbar-item" href=<%=search_index_path%>>
        Search
      </a>

    </div>

    <%# <div class="navbar-end">
      <div class="navbar-item">
      <div class="field has-addons">
      <div class="control">
        <input class="input" type="text" placeholder="Search">
      </div>
      <div class="control">
        <a class="button is-info" >Search</a>
  </div>
</div> %>
      </div>
    </div>

  
</nav>

  <section class="section">
    <div class="container">
      <h1 class="title is-1"><%= link_to 'Animal Crossing: New Horizons - Villager Database', root_path%></h1>
          <%= yield %>
    </div>
  </section>
  </body>
</html>
